/*PART 2*/

.container .part2
{
    background-color: #fff;
    height: auto;
    text-align: center;
    color: #000;
}

.container .part2 .intro_text
{
    padding-top: 6.5em;
    padding-bottom: 3em;
}

.container .part2 .intro_text p
{
    margin-top: 2.5em;
}

.container .part2 .intro_text h2
{
    font-weight: bold;
    font-size: 3.5em;
    color: #cd1b1b;
}

.container .part2 p
{
    font-size: 1.5em;
}

.container .part2 article 
{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4em;
    margin: 3.5em auto;
}

.container .part2 article section
{
    font-size: 1em;
    padding: 1em;   
    border: solid 2px #000;
}

.container .part2 article section p
{
    position: relative;
    bottom: 13%;
    padding: 1em;
}

.container .part2 article section .img_section
{
    width: 50px;
    margin: 0 auto;
    position: relative;
    bottom: 21%;
    
}

.container .part2 article section .img_section img
{
    width: 2.5em;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
}

.container .part2 button
{

    width: 10%;
    font-size: 1.2em;
    padding: 1em;
    background-color: #cd1b1b;
    border: none;
    border-radius: 30px;
    margin: 1.5em;
    color: #fff;
}

.container .part2 button:hover
{
    cursor: pointer;
    background-color: #801515;
}